In [16]:
# Importing the required libraries

import selenium
import pandas as pd
from selenium import webdriver

In [17]:
driver = webdriver.Chrome(r"F:\SOFTWARE\Web Drivers\chromedriver_win32\chromedriver.exe")

C:\Users\Shekhar Sinha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  """Entry point for launching an IPython kernel.

In [18]:
driver.get('https://www.flipkart.com/')

In [28]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"

In [29]:
driver.get(url)

In [21]:
#Creating Empty List for the Data to be Extracted

rating_list = []
review_summary_list = []
full_review_list = []

In [22]:
rating_tags = driver.find_elements_by_xpath("//div[@class='_3LWZlK']")
rating_tags[0:5]

C:\Users\Shekhar Sinha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  """Entry point for launching an IPython kernel.

In [23]:
for i in rating_tags:
    rating=i.text
    rating_list.append(rating)
rating_list[0:5]

['4.6']

In [24]:
review_summary_tags = driver.find_elements_by_xpath("//span[@class='_2_R_DZ']")
review_summary_tags[0:5]

C:\Users\Shekhar Sinha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  """Entry point for launching an IPython kernel.

In [25]:
for i in review_summary_tags:
    review=i.text
    review_summary_list.append(review)
review_summary_list[0:5]

['77,517 Ratings & 5,861 Reviews']

In [30]:
full_review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
full_review_tags[0:5]

C:\Users\Shekhar Sinha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  """Entry point for launching an IPython kernel.

[<selenium.webdriver.remote.webelement.WebElement (session="230013a12406907df3ba383f0fa8eddb", element="7797504e-3a40-4cfe-b70a-c547133699dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="230013a12406907df3ba383f0fa8eddb", element="63336b76-deb5-4676-b48c-a187f195da75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="230013a12406907df3ba383f0fa8eddb", element="9ce017d9-d259-414b-97a3-216b088a7cda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="230013a12406907df3ba383f0fa8eddb", element="ed95e047-df64-40eb-a011-38f080062ff3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="230013a12406907df3ba383f0fa8eddb", element="bde7c6e6-4122-4b73-b4f2-4016a8f5f0eb")>]

In [35]:
for i in full_review_tags:
    full_review=i.text
    full_review_list.append(full_review)
full_review_list[0:5]

['Brilliant', 'Simply awesome', 'Best in the market!', '', '']

In [32]:
print(len(rating_list), len(review_summary_list), len(full_review_list))

1 1 20

In [33]:
column1_2 = pd.DataFrame({})
column1_2['Rating']=rating_list
column1_2['Review Summary']=review_summary_list

In [36]:
column1_2

  Rating                  Review Summary
0    4.6  77,517 Ratings & 5,861 Reviews

In [37]:
column3 = pd.DataFrame({})
column3['Full Review']=full_review_list

In [38]:
column3

            Full Review
0             Brilliant
1        Simply awesome
2   Best in the market!
3
4
5
6
7
8
9
10            Brilliant
11       Simply awesome
12  Best in the market!
13     Perfect product!
14    Worth every penny
15            Fabulous!
16        Great product
17          Good choice
18    Worth every penny
19   Highly recommended
20            Brilliant
21       Simply awesome
22  Best in the market!
23     Perfect product!
24    Worth every penny
25            Fabulous!
26        Great product
27          Good choice
28    Worth every penny
29   Highly recommended
30            Brilliant
31       Simply awesome
32  Best in the market!
33     Perfect product!
34    Worth every penny
35            Fabulous!
36        Great product
37          Good choice
38    Worth every penny
39   Highly recommended